{% extends 'base.html' %}
{% load static %}

{% block head_tags %}
<link rel="stylesheet" href="{% static 'css/tabela.css' %}">
{% endblock %}

{% block content %}

<!-- przycisk strona główna -->
<div class="p-3" id="home_button">
    <a href="{% url 'home' %}" class="button">Strona główna</a>
</div>

<div id="table_selection">
    <!-- wybór roku akademickiego -->
    <div id="year_dropdown" class="p-3">
        <div class="dropdown">
            <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                    <span>{{ rok_slash }}</span>
                    <span class="icon is-small">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
            <div class="dropdown-menu" role="menu">
                <div class="dropdown-content">
                    <a href="{% url 'tabela_view' '2024-2025' 'przedmioty' %}">
                        <div class="dropdown-item">
                            2024/2025
                        </div>
                    </a>
                    <hr class="dropdown-divider" />
                    <a href="{% url 'tabela_view' '2023-2024' 'przedmioty' %}">
                        <div class="dropdown-item">
                            2023/2024
                        </div>
                    </a>
                    <hr class="dropdown-divider" />
                    <a href="{% url 'tabela_view' '2022-2023' 'przedmioty' %}">
                        <div class="dropdown-item">
                            2022/2023
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- wybór tabeli -->
    <div id="table_type" class="p-3">
        <a href="{% url 'tabela_view' rok 'przedmioty' %}" class="button mr-3 ml-5">Przedmioty</a>
        <a href="{% url 'tabela_view' rok 'grupy' %}" class="button mr-3">Grupy</a>
        <a href="{% url 'tabela_view' rok 'pracownicy' %}" class="button">Pracownicy</a>
    </div>
</div>


{% block tabela %}
{% endblock %}


{% endblock %}